.form {
  @apply flex w-full flex-col;
}

.form_input {
  @apply mt-4 flex flex-col;
}

.form_lbl {
  @apply text-sm font-semibold text-gray-600;
}

.m_input {
  @apply mt-1 flex w-full items-center rounded-md border border-slate-300 bg-gray-200 px-4 
  py-2 text-gray-800 dark:border-slate-700 dark:bg-slate-700;

  &:hover {
    @apply border border-sky-400;
  }

  &:focus-visible,
  &:focus {
    @apply outline-sky-400;
    outline-width: 2px;
    outline-style: solid;
  }

  &::placeholder {
    @apply text-sm;
  }
}

.form_msg {
  @apply mt-6 rounded border px-4 py-3;

  &.-err {
    @apply border-red-400 bg-red-100 text-sm text-red-700;
  }
}

.form_btn {
  @apply flex justify-center rounded-md bg-sky-700 p-2.5 text-gray-50 !important;
  box-shadow:
    inset 0 1.5px 0 hsl(200, 98%, 39%),
    0 4px 6px hsla(0, 0%, 0%, 0.2);

  &:hover {
    @apply bg-sky-800 !important;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  }
}

.form_more {
  @apply mt-5 flex items-center justify-center text-gray-600 dark:text-gray-400;
}
